
.textaco{
    padding: 3%;
    font-size: 200%;
    display: absolute;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 12%;
    color: rgb(124, 87, 6);
}
.textaco p{
    margin-top: 3%;
    margin-bottom: 3%;
}
.corazon {
	display: inline-block;
	font-size: 200px;
	color: rgb(7, 148, 43);
	animation: latidos .5s infinite;
	transform-origin: center;
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(2); }
    to { transform: none; }
}



