.formulario{
  padding-top: 10%;
}
legend{
    padding: 1%;
    font-size: 290%;
}

form {
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0 auto;
    width:70%;
    height: auto;
    padding: 5%;
    border: 1px solid #faab50;
    border-radius: 5%;
    background-color: rgb(123, 250, 123);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 5%;
    text-align: right;
    font-size: 240%;
  }
  input,name{
    width: 300%;
  }
  input,mail{
    width: 300%;
  }
  ul li button{
    width: 30%;
    font-size: 100%;
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 40%; 
  }
  
  button {
    margin-left: .5em;
  }