P{
    font-size: 2rem;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 140px
}
h2{
    padding: 2rem;
    font-size: 5rem;
}
legend{
    padding: 2rem;
    font-size: 4rem;
}

.formulario{
    padding: 2rem;
    padding-top: 5%;
    padding-bottom: 20%;
}
