@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color:  rgb(45, 100, 45);
}

html {
    font-size: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

header {
    background-color: rgb(202, 247, 216);
    height: 80px;
}

section img {
   align-items:center ;
   width:50%;
    height:50%;
}
footer{
    background-color:  rgb(202, 247, 216);;
    color: rgb(0, 0, 0);
    padding-top: 30px;

    padding-left: 80%;
    font-size: 2rem;
}
    footer>p>img{
    width: 30px;
}