@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(320deg, rgba(112, 240, 108, 0.678), rgba(2, 182, 32, 0.938));
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}
@keyframes anim{
    0% {background-color: rgb(255, 123, 0);} 
   25% {background-color: rgb(4, 253, 79);} 
   50% {background-color: aqua} 
   75% {background-color: rgb(255, 0, 0);} 
  100% {background-color: rgb(253, 253, 6);} 
}

html {
    font-size: 10px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}

header {
    background: linear-gradient(320deg, rgba(145, 143, 248, 0.678), rgba(127, 211, 236, 0.938));
    height: 80px;
}


footer {
    background: linear-gradient(320deg, rgba(255, 167, 4, 0.678), rgba(192, 113, 81, 0.938));
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    padding-top: 3%;
    padding-left: 80%;
    font-size: 2.5rem;
    display: flex;
}   
footer>p>a>img{
    width: 30px;
}
