
.main{
    padding-top: 3%;
    padding-bottom: 8%;
}
.galeria {
    margin: 2rem;
    font-size: 0;
    padding-top: 1rem;
    align-items: center;
    box-sizing: border-box;
    margin-top: 5%;
    padding-left: 2%;
}

.imagenes-galeria {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    height: 300px;
    margin-bottom: 2rem;
}


.imagenes-galeria {
    margin-left: 1%;
}

.imagenes-galeria:nth-child(4n+1) {
    margin-left: 1%;
}


.imagenes-galeria img {
    width: 100%;
    height: 90%;
}

.imagenes-galeria figcaption {
    border-top: 1px solid black;
    background-color: rgb(222, 255, 222);
    font-size: 1.5rem;
    text-align: center;
    padding: 2%;
    height: 10%;
    color: rgb(182, 106, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes-galeria:hover img {
    opacity: 1;
    font-size: 2rem;
    -webkit-transform: scale(1.21);
    transform: scale(1.21)
}

@media screen and (max-width: 780px){
    .main{
        padding-bottom: 15%;
    }
    .imagenes-galeria{
        width: 90%;
        margin-left: 5%;
        
    
    }

    .imagenes-galeria:nth-child(4n+1){
        margin-left: 5%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 780px) {
    .main{
        padding-bottom: 15%;
    }
    .imagenes-galeria{
        width: 45%;
        margin-left: 5%;
        padding-bottom: 15%;
    }

    .imagenes-galeria:nth-child(2n+1){
        margin-left: 2.5%;

    }
}