
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(320deg, rgba(112, 240, 108, 0.678), rgba(2, 182, 32, 0.938));
}

h1 {
    font-size: 400%;
    text-align:left;
    padding: 2rem;
    color: rgb(7, 122, 3);
}

header {
    background: linear-gradient(320deg, rgba(255, 167, 4, 0.678), rgba(192, 113, 81, 0.938));
    height: 80px;
}


footer {
    background: linear-gradient(320deg, rgba(255, 167, 4, 0.678), rgba(192, 113, 81, 0.938));
    color: rgb(7, 122, 3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3%;
    padding-left: 5%;    
    padding-bottom: 2%;
    font-size: 3rem;
    display: flex;
}  

footer>p>a>img{
    width: 30px;
}