header h1 img{
    height: 40px;
    width: 40px;
    text-align:left;
    vertical-align: middle;

}

header h1, .menu-hamburgesa {
    display: inline-block;
    vertical-align: middle;
}

.menu-hamburgesa {
    width: 10%;
    margin-top: 10px;
    float: left;
    position: relative;
}

.menu-hamburgesa input, .menu-hamburgesa label img {
    height: 50px;
    width: 50px;
}

.menu-hamburgesa label:hover {
    cursor: pointer;
}

.menu-hamburgesa input {
    display: none;
}

.menu-hamburgesa input:checked ~ #miMenu {
    display: block;
}

#miMenu {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    width: 1000%;
}

#miMenu li{
    list-style: none;
    width: 100%;
}

#miMenu li a {
    text-align: center;
    display: block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    background: linear-gradient(320deg, rgba(145, 143, 248, 0.678), rgba(127, 211, 236, 0.938));
    border: 1px solid black;
    color: rgb(41, 128, 38);
    width: 100%;
    font-weight: bold;
}

#miMenu li a:hover {
    cursor: pointer;
    animation-name: anime;
    animation-duration: 7s;
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}

@keyframes anime{

    0% {background-color: rgb(247, 153, 66);
        color: rgb(247, 153, 66);} 
   25% {background-color: rgb(99, 253, 145);
    color: rgb(99, 253, 145);} 
   50% {background-color: rgb(0, 26, 255);
    color: rgb(0, 26, 255)} 
   75% {background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);} 
  100% {background-color: rgb(253, 6, 241);
    color: rgb(253, 6, 241)} 
}

@media all and (min-width: 1000px) {


    .img-menu{
      display: none;
    }

    #miMenu {
        display:inline-flex;
        list-style: none;
        padding: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 1px;

    }
    
    .miMenuli {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        transition: 0.5s;

    }

}