.slider {
  padding-top: 1%;
  padding-bottom: 10%;
	width:60%;
    height: auto;
	margin:5% auto 0;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}
@media only screen and (max-width: 480px) {
  img {
    width: 300%;
  }
}
@media only screen and (max-width: 360px) {
img {
  max-width: 400%;
  width: 400%;
}
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}